@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap');


.App {
  height: auto;
}

.header{
  background-color: black;
  height: 20vh;
  text-align: center;
  font-family: 'Stoke', sans-serif;
}

.headername {
  color: white;
  font-size: 54px;
  margin: 5px 0;
  padding-top: 10px;
}

.searchbar{
  margin-top: 5px;
  border: none;
  height: 30px
}

.maincontainer{
  width: 95vw;
  display: flex;
  flex-direction: row;
}

.quotecontainer{
  border: 1px solid black;
  margin: 1px 5px;
  width: 50vw;
  height: 50vh;
  border-radius: 6px;
}

.sidecontainer{
  margin: 1px 5px;
  width: 50vw;
  height: 40vw;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.historycontainer{
  border: 1px solid black;
  height: 50vh;
}

.history{
  display: flex;
  flex-direction: row;
}

.historynames{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.historyvalues{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.historynumbers{
  display: flex;
  flex-direction: row;
}

#ticker{
  display: inline-block;
  width: 40%;
  text-align: left;
}

#current, #change, #pct{
  display: inline-block;
  width: 20%;
  text-align: right;
}

.historylastprice, .historynetchange, .historypercentchange{
  width: 33%;
  text-align: right;
}

.newscontainer{
  height: auto;
}

.tickersearch{
  border: 1px solid black;
  margin: 1px 5px;
  width: 50%;
  height: 20px;
  border-radius: 6px;
}

.stocklookup{
  background-color: rgb(249, 249, 249);
  border: 1px solid black;
  border-radius: 2px;
}

.stocklookup:hover{
  box-shadow: 1px 1px 3px blue;
}

.footer{
  height: 10vh;
  background-color: black;
}

.symbolsize{
  font-size: 12px;
}

.quotes{
  text-align: left;;
}

p{
  margin: 0 3px 0 3px;
}

h2, h4{
  margin: 0;
}

h3{
  font-size: 11px;
  margin: 0 0 0 3px;
  font-weight: normal;
}

h4{
  font-size: 8px;
}

.pricedata {
  float: right;
  margin-right: 3px;
}

.news img{
  padding: 2px;
  height: 65px;
  width: 65px;
  object-fit: cover;
  float: left
}

.newsdiv {
  width: 100%;
  min-height: 70px;
  border-bottom: 2px solid black;
  margin: 5px 0;

}

a {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}

.green {
  color: green;
}